<!-- <table mat-table [dataSource]="todosData()" class="mat-elevation-z8"> -->
    <table mat-table [dataSource]="todos().todos" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="todo">
            <th mat-header-cell *matHeaderCellDef> Todo </th>
            <td mat-cell *matCellDef="let element"> {{element.todo}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef> Completed </th>
            <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> User ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center; padding: 2rem; color: white">
                <div>No todos assigned</div>
            </td>
        </tr>
    
    
    
    </table>